Web References/com.megaokul.gateway/HERYONESMSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MAYATEK_SMS_SENDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KULLANICI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIFRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORGINATOR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MESAJ_DILI" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GSMNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MESAJ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TAKIPNO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MAYATEK_SMS_SENDERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MAYATEK_SMS_SENDERResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_ILETI_SORGULA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MESAJ_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KULLANICI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIFRE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_ILETI_SORGULAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_ILETI_SORGULAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_ALFANUMERIK_BASLIK_SORGULA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KULLANICI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIFRE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_ALFANUMERIK_BASLIK_SORGULAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_ALFANUMERIK_BASLIK_SORGULAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_KREDI_SORGULA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KULLANICI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIFRE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMS_KREDI_SORGULAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMS_KREDI_SORGULAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MAYATEK_SMS_SENDERSoapIn">
    <wsdl:part name="parameters" element="tns:MAYATEK_SMS_SENDER" />
  </wsdl:message>
  <wsdl:message name="MAYATEK_SMS_SENDERSoapOut">
    <wsdl:part name="parameters" element="tns:MAYATEK_SMS_SENDERResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_ILETI_SORGULASoapIn">
    <wsdl:part name="parameters" element="tns:SMS_ILETI_SORGULA" />
  </wsdl:message>
  <wsdl:message name="SMS_ILETI_SORGULASoapOut">
    <wsdl:part name="parameters" element="tns:SMS_ILETI_SORGULAResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_ALFANUMERIK_BASLIK_SORGULASoapIn">
    <wsdl:part name="parameters" element="tns:SMS_ALFANUMERIK_BASLIK_SORGULA" />
  </wsdl:message>
  <wsdl:message name="SMS_ALFANUMERIK_BASLIK_SORGULASoapOut">
    <wsdl:part name="parameters" element="tns:SMS_ALFANUMERIK_BASLIK_SORGULAResponse" />
  </wsdl:message>
  <wsdl:message name="SMS_KREDI_SORGULASoapIn">
    <wsdl:part name="parameters" element="tns:SMS_KREDI_SORGULA" />
  </wsdl:message>
  <wsdl:message name="SMS_KREDI_SORGULASoapOut">
    <wsdl:part name="parameters" element="tns:SMS_KREDI_SORGULAResponse" />
  </wsdl:message>
  <wsdl:portType name="HERYONESMSWebServiceSoap">
    <wsdl:operation name="MAYATEK_SMS_SENDER">
      <wsdl:input message="tns:MAYATEK_SMS_SENDERSoapIn" />
      <wsdl:output message="tns:MAYATEK_SMS_SENDERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_ILETI_SORGULA">
      <wsdl:input message="tns:SMS_ILETI_SORGULASoapIn" />
      <wsdl:output message="tns:SMS_ILETI_SORGULASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_ALFANUMERIK_BASLIK_SORGULA">
      <wsdl:input message="tns:SMS_ALFANUMERIK_BASLIK_SORGULASoapIn" />
      <wsdl:output message="tns:SMS_ALFANUMERIK_BASLIK_SORGULASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMS_KREDI_SORGULA">
      <wsdl:input message="tns:SMS_KREDI_SORGULASoapIn" />
      <wsdl:output message="tns:SMS_KREDI_SORGULASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HERYONESMSWebServiceSoap" type="tns:HERYONESMSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MAYATEK_SMS_SENDER">
      <soap:operation soapAction="http://tempuri.org/MAYATEK_SMS_SENDER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_ILETI_SORGULA">
      <soap:operation soapAction="http://tempuri.org/SMS_ILETI_SORGULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_ALFANUMERIK_BASLIK_SORGULA">
      <soap:operation soapAction="http://tempuri.org/SMS_ALFANUMERIK_BASLIK_SORGULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_KREDI_SORGULA">
      <soap:operation soapAction="http://tempuri.org/SMS_KREDI_SORGULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HERYONESMSWebServiceSoap12" type="tns:HERYONESMSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MAYATEK_SMS_SENDER">
      <soap12:operation soapAction="http://tempuri.org/MAYATEK_SMS_SENDER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_ILETI_SORGULA">
      <soap12:operation soapAction="http://tempuri.org/SMS_ILETI_SORGULA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_ALFANUMERIK_BASLIK_SORGULA">
      <soap12:operation soapAction="http://tempuri.org/SMS_ALFANUMERIK_BASLIK_SORGULA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMS_KREDI_SORGULA">
      <soap12:operation soapAction="http://tempuri.org/SMS_KREDI_SORGULA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HERYONESMSWebService">
    <wsdl:port name="HERYONESMSWebServiceSoap" binding="tns:HERYONESMSWebServiceSoap">
      <soap:address location="http://gateway.megaokul.com/HERYONESMSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HERYONESMSWebServiceSoap12" binding="tns:HERYONESMSWebServiceSoap12">
      <soap12:address location="http://gateway.megaokul.com/HERYONESMSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>